.hero {
  flex-direction: column;
  padding: 1rem;
}
.hero h2 {
  margin: 1rem 0 0;
}
.hero p {
  display: flex;
  max-width: 800px;
  text-align: center;
  font-size: 20px;
}
fieldset {
  border-color: #4c57961b;
  border-radius: 8px;
}
